
  .sponsor {
      background-color: '#F0F0F0';
      border-radius: '10px';
      padding: '10px';
      display: 'flex';
      justify-content: 'center';
      align-items: 'center';
      height: '100%';
  }