.Panel {
    display: flex;
    flex-direction: column;
}

.PanelContent {
    height: 100%;
    width: 100%;
    background-color: #263B4A;
    overflow: auto;
    border-radius: 0.5rem;
    color: white;
    padding: 1rem;
}

.ResizeHandleOuter {
    flex: 0 0 1.5em;
    position: relative;
    outline: none;
    background-color: transparent;
}

.ResizeHandleInner {
    position: absolute;
    top: 0.25em;
    bottom: 0.25em;
    left: 0.25em;
    right: 0.25em;
    border-radius: 0.25em;
    background-color: var(--background-color);
    transition: background-color 0.2s linear;
}

.Icon {
    width: 1em;
    height: 1em;
    position: absolute;
    left: calc(50% - 0.5rem);
    top: calc(50% - 0.5rem);
    transform: rotate(90deg);
}